<div class="login-container">
    <div class="login-left">
      <h2>Login! 👋</h2>
      <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
        <label for="username">Email</label>
        <input type="username" id="username" name="username" placeholder="username" formControlName="username">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="******" formControlName="password">
        <div class="alert alert-danger" *ngIf="wrongCredentials">Wrong username or password</div>
        <button type="submit" class="btn btn-signin">Sign In</button>
      </form>
    </div>
    <div class="login-right">
      <div class="login-info">
        <img src="../../../assets/warehouse-bg.jpg" alt="warehouse image">
      </div>
    </div>
  </div>