<div class="login-container">
    <div class="login-left">
      <h2>Login! 👋</h2>
      <p>How do I get started?</p>
      <p id="123" style="width: 139px; padding: 0px;">Login withUsernamessdasd</p>
      <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
        <label for="username">Email</label>
        <input type="username" id="username" name="username" placeholder="username" formControlName="username">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="******" formControlName="password">
        <button type="submit" class="btn btn-signin">Sign In</button>
      </form>
      <p>Don't have an account? <a href="#">Sign Up Now</a></p>
    </div>
    <div class="login-right">
      <div class="login-info">
        <h3>Why should I login?</h3>
        <p>By logging in, you can access your personal dashboard, where you can manage your account, view your profile, and much more.</p>
        <img src="../../../assets/warehouse-bg.jpg" alt="warehouse image">
      </div>
    </div>
  </div>